<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booktastic</title>
  </head>
  <body>
    <header>
      <h2>Booktastic <mark>Layout header</mark></h2>
    </header>

    <%- include('../shared/header.ejs') %>
    <!--  -->
    <%- include('../shared/error.ejs') %>
    <!--  -->
    <%- body %>

    <footer>
      <mark>Layout footer</mark>
    </footer>
  </body>
</html>
